<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, esse. Fugit ducimus sequi perferendis autem nobis. Eos deserunt ab incidunt, suscipit dicta nihil saepe molestiae maiores odio at, architecto iusto.</p>
</body>
</html>